@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-style: normal;
  font-weight: 600;
  background: #d1d3da;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Open Sans";
  padding: 16px;
}
.editor {
  width: 100%;
  max-width: 800px;
  &__header {
    font-size: 44px;
    margin: 0 0 40px;
  }
}

.form {
  &__buttons {
    margin-left: 16px;
    display: flex;
    justify-content: flex-end;
  }
  &__textarea {
    width: 100%;
    min-height: 240px;
    padding: 16px;
    border: 1px solid;
  }
}

.button {
  background: #d1d3da;
  color: black;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid;
  border-radius: 4px;
  padding: 12px 16px;
  &__save {
    background: black;
    color: #d1d3da;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px 16px;
  }
}
